DB_HOST=localhost
DB_PORT=5432
DB_NAME=mangala_dev
DB_SCHEMA=auth
DB_USERNAME=dev
DB_PASSWORD=dev123

RP_ID=localhost:8080
RP_ORIGIN=
RP_NAME=localhost
PASSKEY_TIMEOUT=60000
PASSKEY_AUTHENTICATOR_ATTACHMENT=platform
PASSKEY_AUTHENTICATOR_RESIDENT_KEY=true
PASSKEY_AUTHENTICATOR_USER_VERIFICATION=preferred
PASSKEY_ATTESTATION=none
PASSKEY_ALGORITHMS=ES256,RS256,EdDSA